<style>
footer{
  text-align: center;
  margin-inline: auto;
  padding-block: 1rem 1rem;
  margin-top: 3rem;
  border-top: 1px solid var(--disabled);
}
</style>
<footer>
Made with 💜 and <a target="_blank" href="https://astro.build/" rel="noopener noreferrer">Astro</a>. © {new Date().getFullYear()} Minh Khang Tran
</footer>