---
const {next,previous} = Astro.props


---
<style>

aside{
  display: flex;
  justify-content: space-between;margin-bottom: 2rem;
}
.page_site {
  text-transform: capitalize;
}
.previous{
    margin-inline-end: auto;
}
.next{
    margin-inline-start: auto;
}
</style>
   <aside>
  {previous ?(<div class="previous">
      
      
      <a rel="prev" class="page_site" href={`/post/${previous}`}>{previous?.split("-").join(" ")}</a>
    </div>):("-")}
     
   
 
  {next ?(<div class="next">
      <a rel="next" class="page_site" href={`/post/${next}`}>{next?.split("-").join(" ")}</a>
     
    
     
    </div>):("-")}
    
 
    
    </aside>