---
const {next,previous} = Astro.props
---
<style>

aside{
  display: flex;
  justify-content: space-between;margin-bottom: 2rem;
}
.page_site {
  text-transform: capitalize;
}
.previous{
    margin-inline-end: auto;
}
.next{
    margin-inline-start: auto;
}
</style>
   <aside>
  
     <div class="previous">
      
      
      <a rel="prev" class="page_site" href={previous}>{previous?.split("-").join(" ")|| "This is the first Post"}</a>
    </div>
   
 
  
    <div class="next">
      <a rel="next" class="page_site" href={next}>{next?.split("-").join(" ")|| "This is the last Post"}</a>
     
    
     
    </div>
 
    
    </aside>